.navbar {
  background-color: red;
}

.btn-primary{
  background-color: aqua;
}

#Div1{
  background-color: red;
}

h2{
  background-color: green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}